<% if model.errors.any? %>
<div class="alert alert-success"　role="alert">
  <ul>
    <h4 class="alert-heading">エラー!</h4>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>