<div class="container">
  <div class="row">
    <h2>顧客編集</h2>
  </div>  
  <div class="row">  
    <%= form_with(model: @customer, local: true) do |f| %>
    <%= render partial: 'form', locals: { form: f} %>
    <% end %>
  </div>  
</div>