<div class="card">
 <%# <%= link_to image_tag("プロトタイプの画像", class: :card__img ), root_path%> 
  <div class="card__body">
    <%= link_to order.order_num, root_path, class: :card__title%>
    <p class="card__summary">
      <%= order.item_code %>
    </p>
    <%= link_to order.user.name, root_path, class: :card__user %>
  </div>
</div>