<div class="container">
  <div class="row">
    <h2>注文編集</h2>
  </div> 
    <%= form_with model: @order, local: true do |f| %>
    <%= render partial: 'form_for_edit', locals: { form: f} %>
    <% end %>
</div>