<main class="main">
  <div class="inner">
       <% if user_signed_in? %>
        <div class="greeting"> 
        こんにちは、
        <%= link_to current_user.last_name + current_user.first_name , root_path, class: :greeting__link%>
        さん
        </div>
        <% end %>
    <div class="card__wrapper">
      <% @order.each do |order| %>
       <div class="content_post">
      <p><%= order.order_num %></p>
      <span class="name">
        <%= order.price %>
      </span>
    </div>
  <% end %>
    </div>
  </div>
</main>
