<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
      <div class="greeting">
        <%= 'こんにちは、' %>
        <%= link_to current_user.name , root_path, class: :greeting__link%>
         <%= 'さん' %>
      </div>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートで注文投稿一覧を表示する %>
      <%= render partial: "order", collection: @orders %>
    </div>
  </div>
</main>
