<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規注文を作成</h2>
      <%= link_to "新規注文（既存配送先）", new_add_order_path , class: :nav__btn %>
        <%= render partial: 'form' %>
    </div>
  </div>
</div>