<div class="container">
  <div class="row">
    <h2>新規商品を登録</h2>
  </div> 
  <div class="row">
    <div class="bg-danger text-white">商品番号は一度登録したら編集できません</div>
  </div>  
    <%= render partial: 'form' %>  
</div>
